body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
 /* padding: 0;
  margin: 0;*/
  background-image: url("../images/vintage-concrete.png");
  background-color: #eee;
  background-size: 100%;
}

h1 {
  font-family: Georgia;
}

ul {
  margin: 0;
  padding: 0;
}

/* All Container */

.container1 {
  width: 80%;
  margin: auto;
  overflow: hidden;

}

/* Header Info */

header {
  background: white;
  color: white;
  max-height: 80px;
  min-height: 80px;
  width: 100%;
  border-bottom: 2px solid #888888;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  color: #888888;

}

header ul {
  margin-top: 30px;
  float: right;
  font-size: 15px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px
}

header h1 {
  float: left;
  background-color: #ee533c;
  width: 35%;
  height: 65px;
  padding-top: 15px;
  margin: 0;
  font-weight: bold;
  text-align: center;
  font-size: 30px;

}

a:hover {
  color: #ee533c;
  font-weight: bold;
}

a:focus {
  color: #ee533c;
  font-weight: bold;
}

a:active {
  color: blue;
  font-weight: bold;
}

/*Main Section Of Site*/

#Main {
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
  overflow: hidden;
  }

.container2 {
  float: left;
  background-color: white;
  width: 650px;
  margin-top: 50px;
  overflow: hidden;
  padding-top: 20px;
}

.container2 h1 {
  color: #ee533c;
  font-size: 25px;
  font-weight: bold;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid #888888; 
  margin: 0 20px 30px 20px;
}

.container2 p {
  overflow: hidden;
  color: #888888;
  font-size: 15px;
  line-height: 2;
  padding: 0 0 20px 0; 
  margin: 0 20px 30px 20px;
}

.container3 {
  float: right;
  background-color: white;
  width: 30%;
  margin-top: 50px;
  height: 250px;
  overflow: hidden;
  text-align: center;
  padding-top: 20px;
}

.container3 h1 {
  color: #ee533c;
  font-size: 25px;
  font-weight: bold;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid #888888; 
  margin: 0 20px 30px 20px;
}

.box {
  display: inline;
  padding-top: 20px;
}

footer {
  background-color: #888888;
  margin-top: 40px
  max-height: 80px;
  min-height: 80px;
  width: 100%;
  border-top: 4px solid #ee533c;
  color: white;
  text-align: center;
}

#image1 {
  width: 100%;
}

#Ill {
  position: relative;
  overflow: hidden;
  background-color: #ee533c;
  top: 225px;
  text-align: center;
  /*padding: 20px;*/
}

#Illimage {
  position: relative;
  width: 43%;
  margin: 0;
  border: 4px solid #ee533c;
  overflow: hidden;
}

#image2 {
  width: 100%;
}

#Pho {

}

#Phoimage {
  /*position: relative;*/
  width: 43%;
  float: left;
}
















